.linkWrapper {
    margin: 50px 20px;
}

.linkBack {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: #471CA9;
    align-items: center;
    display: flex;
}

span {
    margin-left: 15px;
}